<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>

<!-- Displays each quote -->
<% @quotes.each do |quote| %>
  <div class="card bg-body-tertiary" style="margin-bottom:10px">
  <div class="card-body">
    <h4 class="card-title">"<%= quote.text %>"</h4>
    <p class="card-text"><%= "- #{quote.author.fname} #{quote.author.lname}" %><br />[<a href="/quotes/<%=quote.id %>">Show this quote</a>]</p>
  </div>
  </div>
<% end %>
